name: Update Kustomization for ArgoCD

on:
  workflow_dispatch:
  repository_dispatch:
    types: [deploy-image]

env:
  # Cortex secrets
  CORTEX_API_KEY: ${{ secrets.CORTEX_API_KEY }}
  CORTEX_API_KEY_ID: ${{ vars.CORTEX_API_KEY_ID }}
  CORTEX_API_URL: ${{ vars.CORTEX_API_URL }}

jobs:

  ###############################################
  # Check Kubernetes YAML with Cortex Cloud
  ###############################################
  cortex-scan:
    name: "Job 1 - Cortex Cloud Scan - Security checks"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout IaC Repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Verify Node.js Version
        run: node -v

      - name: Download Cortex CLI
        run: |
          echo "Downloading CortexCLI..."
          mkdir -p cortexcli
          curl -s -o cortexcli/cortexcli $(curl -s "${CORTEX_API_URL}/public_api/v1/unified-cli/releases/download-link?os=linux&architecture=amd64" \
            -H "x-xdr-auth-id: ${CORTEX_API_KEY_ID}" \
            -H "Authorization: ${CORTEX_API_KEY}" | jq -r ".signed_url")
          chmod +x cortexcli/cortexcli
          sudo mv cortexcli/cortexcli /usr/local/bin/
          cortexcli --version

      - name: Run Cortex CLI Code Scan
        run: |
          cortexcli \
            --api-base-url "${CORTEX_API_URL}" \
            --api-key "${CORTEX_API_KEY}" \
            --api-key-id "${CORTEX_API_KEY_ID}" \
            code scan \
            --directory "${{github.workspace}}" \
            --repo-id "${{ github.repository }}" \
            --branch "${{ github.ref }}" \
            --source "GITHUB_ACTIONS" \
            --create-repo-if-missing

  ###############################################
  # Update kustomization.yaml
  ###############################################
  update_kustomization:
    name: "Job 2 - Update Kustomization YAML for k8s deployment"
    runs-on: ubuntu-latest
    needs: cortex-scan

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}

      # Install yq
      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq
          yq --version

      # Update kustomization.yaml
      - name: Update kustomization.yaml image
        run: |
          # Get IMAGE_URI from workflow_dispatch or repository_dispatch
          IMAGE_URI="${{ github.event.inputs.IMAGE_URI || github.event.client_payload.image_uri }}"
          echo "Updating kustomization.yaml with image: $IMAGE_URI"
          IMAGE_NAME="${IMAGE_URI%:*}"
          IMAGE_TAG="${IMAGE_URI##*:}"
          echo "Extracted Name: $IMAGE_NAME"
          echo "Extracted Tag: $IMAGE_TAG"
          yq eval -i ".images[0].newName = \"$IMAGE_NAME\" | .images[0].newTag = \"$IMAGE_TAG\"" ./kustomization.yaml

  ###############################################
  # Commit and push changes
  ###############################################
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: kustomization.yaml
          commit_message: "Update image to ${{ github.event.inputs.IMAGE_URI || github.event.client_payload.image_uri }}"
          commit_user_name: github-actions[bot]
          commit_user_email: github-actions[bot]@users.noreply.github.com